<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
    .subtitulo{
        font-family:Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        
    }
    .titulos{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: red;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .imagem{
        display: flex;
        justify-content:space-between;
        width: 35%;
        height: 35%;
        align-items: center;
        border-radius: 50%;
        border: 5px solid #3333FF;

    }

    .footer{



    }
    </style>
</head>

<body>
    <div class="titulos"></div>
    <h1 class="titulos">Curiosidades sobre Cristiano Ronaldo </h1>
    <img class="imagem" src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt5b64a1afb2a635fe/60dce04422d24e38a38ef21a/233e679d6edb3b9baef1f16e1b904ab0cd76497b.jpg?auto=webp&format=pjpg&width=3840&quality=60"/>   
    <ul>
    <div class="subtitulo"></div>
    
    <li>
    <h3 class="subtitulo">Cristiano Ronaldo dos Santos Aveiro é um futebolista português que atua como ponta-esquerda ou centroavante.</h3>
    
    </li>   
    <li>
    <h3 class="subtitulo">Cristiano Ronaldo é o maior goleador internacional entre os jogadores de futebol masculino ativos, com mais de 120 gols marcados por Portugal. </h3>
    </li> 
    
    <li>
    <h3 class="subtitulo">O Prêmio Puskas, concedido ao gol mais bonito marcado no ano, foi iniciado em 2009 e Cristiano Ronaldo foi o primeiro ganhador da premiação. Ele o conquistou por seu gol de longa distância contra o FC Porto na Liga dos Campeões de 2008/09, pelo Manchester United. </h3>
    </li>

    <li>
    <h3 class="subtitulo"> Em 2009, Ronaldo se transferiu para o Real Madrid por um valor que, na época, foi recorde mundial, de 80 milhões de libras esterlinas (R$ 514,03 milhões, na cotação atual). Ele passou nove temporadas no clube, onde cimentou seu status como um dos maiores jogadores de todos os tempos.
Durante sua passagem pelo Real Madrid, Ronaldo ganhou quatro Bolas de Ouro, quatro títulos da Liga dos Campeões, dois títulos de La Liga, e várias outras taças e prêmios.</h3> 
    </li>
    
    <li>
    <h3 class="subtitulo">Vemos muitos jogadores famosos cheios de tatuagens, mas já se perguntou o motivo de Cristiano Ronaldo não usar? Bom, o motivo é bastante grandioso, afinal CR7 é doador frequente de sangue. Além disso, o mesmo também não ingere bebidas alcoólicas, e nem fuma. Aqueles que tem o costume de doar sangue, sabe o quão delicado é o processo, onde uma tatuagem pode interferir no tempo em que o doador poderá doar novamente, sendo até anos.

    </h3>
    </li>

</ul>

    <footer>
    <h4 class="subtitulo"> Fontes:https://eisports.com.br/curiosidades/5-curiosidades-de-cristiano-ronaldo-vulgo-cr7/
        <br>
        https://www.goal.com/br/listas/13-curiosidades-sobre-cristiano-ronaldo/blt0ce7aedc17c4ba64#cs7b84ea6c840ed4f1
    </h4>

    </footer>
    
    

</body>

</html>
