<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
    .subtitulo{
        font-family:Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        
    }
    .titulos{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: red;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .imagem{
        display: flex;
        justify-content:space-between;
        width: 40%;
        height: 45%;
        align-items: center;

    }

    .footer{



    }
    </style>
</head>

<body>
    <div class="titulos"></div>
    <h1 class="titulos">Curiosidades sobre Cristiano Ronaldo </h1>
    <img class="imagem" src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt5b64a1afb2a635fe/60dce04422d24e38a38ef21a/233e679d6edb3b9baef1f16e1b904ab0cd76497b.jpg?auto=webp&format=pjpg&width=3840&quality=60"/>   
    <ul>
    <div class="subtitulo"></div>
    
    <li>
    <h3 class="subtitulo">Cristiano Ronaldo dos Santos Aveiro é um futebolista português que atua como ponta-esquerda ou centroavante.</h3>
    
    </li>   
    <li>
    <h3 class="subtitulo">Cristiano Ronaldo é o maior goleador internacional entre os jogadores de futebol masculino ativos, com mais de 120 gols marcados por Portugal. </h3>
    </li> 
    
    <li>
    <h3 class="subtitulo">O Prêmio Puskas, concedido ao gol mais bonito marcado no ano, foi iniciado em 2009 e Cristiano Ronaldo foi o primeiro ganhador da premiação. Ele o conquistou por seu gol de longa distância contra o FC Porto na Liga dos Campeões de 2008/09, pelo Manchester United. </h3>
    </li>

















</ul>

    <footer>


    </footer>
    
    

</body>

</html>
